

.container.contact__container{
    width: 68%;
    display: grid;
    grid-template-columns: 30% 48%;
    gap: 12%;
    
}

.contact__options {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.contact__img{
    width: 530px;
    height: 530px;
    margin-left: -5rem;
    margin-top: -3rem;
   
}


.contact__option{
    background: var(--color-bg-variant);
    padding: 1.2rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
}


/* ============== form ============ */

form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    color: whitesmoke;
}

input,textarea{
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: transparent;
    border: 2px solid var(--color-primary-variant);
    color: whitesmoke;
}


/* ========== media tablet query ======== */

@media screen and (max-width: 1024px) {

    #contact{
        margin-top: 17rem;
    }
    .container.contact__container{
        
        margin-top: 3rem;
        grid-template-columns: 1fr;
        gap: 2rem;
    }
  }
  
  /* ========== media small query ======== */
  
  @media screen and (max-width: 600px) {

    #contact{
        margin-top: 18rem;
    }

    .container.contact__container{        
        display: flex;
        flex-direction: column;        
    }

    .contact__img{
        width: 450px;
        height: 450px;
        margin-left: 0;
        margin-top: -1rem;
       
    }
   
    .container.contact__container{
        width: var(--container-width-sm);
       
    }
    
  }
  